html,
body {
    height: 100%;
    width: 100%;
}

body {
 font-family: 'untitled_sans_regular', sans-serif;
 font-size: 18px;
 line-height: 26px;
 color: #4A4A4A;
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 95px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    outline: none;
    &:hover,
    &:focus {
      color: darken($theme-primary, 10%);
      outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'untitled_sans_regular', sans-serif;
}
h1 {
  font-size: 2em;
  font-family: 'untitled_serif_regular',serif;
  @media (min-width: 769px) {
    font-size: 64px;
  }

}
h2 {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  @media (min-width: 1024px) {
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    &.alt {
      font-size: 36px;
    }
  }
  &.headline {
    font-family: 'untitled_serif_regular',serif;
  }
}
h3 {
  font-family: 'untitled_sans_bold', sans-serif;
}
h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
p {
    font-size: 19px;
    line-height: 32px;
    margin-bottom: 20px;
    @media (min-width: 1024px) {
      font-size: 18px;
    }
}
ul {
  padding-left: 15px;
}
.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}
.bg-dots {
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../img/bg-dots.png');
}
.text-white {
  color: #ffffff;
}
.text-faded {
    color: rgba(white, .7);
}
.text-muted {
  font-size: 12px;
}
.center-mobile {
  text-align: center;
}
section {
  padding:0;
  @media (min-width:1024px){
    padding: 40px 0;
  }
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.more-padding {
  @media (min-width: 1200px) {
    padding-top: 90px;
    padding-right: 0px;
    padding-bottom: 90px;
    padding-left: 0px;
  }
}

.list-group {
  margin-bottom: 0;
  .list-group-item {
    border-width: 0;
    min-height: 50px;
    img {
      margin-right: 20px;
    }
    .list-group-item-text {
      font-size: 16px;
      line-height: 24px;
      padding-right: 20px;
    }
  }
}//list-group

.top-50 {
  margin-top: 50px;
}
.top-25 {
  margin-top: 25px;
}
.bottom-50 {
  margin-bottom: 50px;
}
.bottom-25 {
  margin-bottom: 25px;
}

.btn-block {
  display: block;
  @media (min-width: 1200px) {
    text-align: left;
    padding-bottom: 0;
  }
  &.mobile {
    display: block;
    padding: 20px 10px;
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 20;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  }
}
.topped {
  opacity: 0;
  z-index: -10;
  transition: opacity .2s ease-out;
}// Navigation

.fixed-cta {
  @media (min-width: 1024px) {
    display: none;
  }
}
.caption-block {
  padding: 0 25px;
  text-align: justify;
  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 32px;
    max-width: 65%;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.outline-block {
  border: 1px solid #E0DADA;
  box-sizing: border-box;
  background-color: #ffffff;
}
.navbar-default {
    background-color: white;
    border-color: rgba($theme-dark, .5);
    border-width: 0;
    @include sans-serif-font;
    @include transition-all;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    .navbar-notice {
      padding-top: 0px;
      padding-left: 0px;
    }
    .navbar-header > .navbar-brand, .navbar-right > .navbar-brand {
      margin-top: 10px;
      height: auto;
    }
    .navbar-brand {
      padding: 8px;
      &.hidden-lg {
        @media (max-width:480px){
          width: 176px;
          margin-top: 0;
        }
      }
    }
    .navbar-toggle {
      border-width: 0;
      &:hover {
        background-color: rgba(255,255,255, 0.0);
      }
      .icon-bar {
        width: 36px;
      }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                font-size: 16px;
                color: $theme-primary;
                outline: none;
                &:hover {
                    color: $theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
      &.navbar-nav {
        float: none;
        width:100%;
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: center;
        > li {
          float: none;
          display: inline-block;
          padding-bottom: 0px;
          > a {
            padding-bottom:0px;
          }
        }
      }
    }
    @media (min-width: 769px) {
        min-height: 85px;
        .nav > li > a,
        .nav > li > a:focus {
          color: rgba(#000000, .7);
        }
        &.affix {
            background-color: white;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand, .navbar-notice {
                color: #000000;
                a {
                  color: #000000;
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

// Homepage Header

header {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: $theme-dark;
  background-position: center top;
  background-image: url('../img/ken-best-family-glamour-photo-mobile.jpg');
  text-align: center;
  color: white;
  @media (min-width: 769px) {
    background-image: url('../img/ken-best-family-glamour-photo.jpg');
    background-size: 100% auto;
    margin-top: 84px;
    background-color: #fff;
  }
  .header-content {
      position: relative;
      text-align: center;
      width: 100%;
      padding-top: 80px;
      .header-content-inner {
          h1 {
              margin-top: 0;
              margin-bottom: 160px;
              @media (min-width: 769px){
                font-size: 46px !important;
                margin-top: 40px;
                margin-bottom: 240px;
              }
          }
          p {
              font-weight: 300;
              font-size: 20px;
              margin-bottom: 20px;
          }
        .embed-responsive-16by9 {
          @media (max-width:768px){
            min-height: 740px;
            overflow-y: hidden;
          }
        }//embed-responsive-16by9
      }//.header-content-inner
      @media (min-width: 769px) {
        padding: 100px 15px 100px;
      }
  }//.header-content
  @media (min-width: 769px) {
      min-height: 100%;
      .header-content {
          padding: 60px 15px 0px;
          .header-content-inner {
              max-width: 1000px;
              margin-left: auto;
              margin-right: auto;
              p {
                  max-width: 80%;
                  margin-left: auto;
                  margin-right: auto;
              }
              .embed-responsive-16by9 {
                min-height: 600px;

              }
          }
      }
    .sunrun-stats-block {
      height: 320px;
      h4 {
        font-size: 50px;
        margin: 154px 0 14px 0;
      }
      p {
        font-size: 14px;
        letter-spacing: 0.02em;
      }
      hr {
        background-color: #fff;
        border-style: none;
        color: #fff;
        height: 1px;
        left: 100%;
        margin-left: -40px;
        position: absolute;
        top: 81px;
        width: 95px;
      }
      .sunrun-at-glance {
        background-image: url('../img/sunrun-at-a-glance2.svg');
        background-repeat:no-repeat;
        background-position-x: left;
        background-position-y: top;
        background-size: auto auto;
        height: 100%;
        padding-top: 110px;
        @media (min-width: 990px) {
          background-position-x: 60px;
        }
        p {
          margin:  0 0 0 60px;
          text-align: left;
          width: 198px;
        }
      }
      .stat-icon-block {
        background-position: center 49px;
        background-repeat: no-repeat;
        min-width: 201px;
        position: relative;
        h4 {
          font-family: 'untitled_sans_light', sans-serif;
          color: $theme-primary;
          font-weight: 100;
        }
        p {
          text-transform: uppercase;
        }
        &.foam-finger {
          background-image: url('../img/foam-finger2.svg');
          background-size: 51px 83px;
          hr {
            margin-left: -55px;
          }
        }
        &.people {
          background-image: url('../img/people2.svg');
          background-size: 87px 60px;
        }
        &.google-pin {
          background-image: url('../img/google-pin-white2.svg');
          background-size: 47px 67px;
        }
      }
      .text-muted {
        margin-bottom: 10px;
        margin-top:20px;
        font-size: 12px;
      }
    }//.sunrun-stats-block
  }//@media (min-width: 769px)
  .stats-block-mobile {
    background-image: url('../img/sunrun-at-a-glance2.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 227px 109px;
    height: 500px;
    .mission {
      position: absolute;
      bottom: 50px;
      margin: 0 34px;
      text-align: center;
    }
    .carousel-inner {
      min-height: 300px;
      .item {
        .carousel-caption {
          top: 90px;
          h4 {
            font-family: 'untitled_sans_light',sans-serif;
            font-size: 90px;
            margin: 0;
            color: #0587FF;
            text-align: center;
          }
          p {
            font-family: 'untitled_serif_regular',serif;
            font-size: 18px;
            text-transform: uppercase;
            color: #fff;
          }
        }//.carousel-caption
        img {
          opacity: 0;
          width: 100%;
          line-height: 1;
        }
      }//.item
    }//.carousel-inner
    .carousel-control {
        color: #fff;
        background-image: none;
      &.left {
        .carousel-control-icon {
          background-image: url("../img/left-carousel-control-white.svg");
          left: 0;
        }
      }
      &.right {
        .carousel-control-icon {
          background-image: url("../img/right-carousel-control-white.svg");
          right: 0;
        }
      }
      .carousel-control-icon {
        position: absolute;
        height: 45px;
        width: 25px;
        top: 45%;
        background-position: center center;
        background-size: auto 100%;
      }
    }
  }
}//header

// Sections

.section-heading {
    margin-top: 0;
}

#solar-benefits {
  ul {

    li {
      margin-bottom: 30px;
    }
  }
  .text-muted {
    font-size: 12px;
  }
  .column-bg {
      background-image: url('../img/aerial_suburban_summer_evening-flipped.jpg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      padding-top: 320px;
    @media (min-width: 1024px) {
      padding-top: 0;
      background-position: right top;
      background-size: 50% auto;
    }
  }
}//#member-benefits

#products {
  .top-bg {
    .list-group {
      .list-group-item {
        background-repeat: no-repeat;
        background-size: 41px auto;
        background-position: left 15px;
        padding-left: 60px;
        .list-group-item-text {
          max-width: 560px;
        }
        &.no-icon {
           padding-left: 15px;
        }
      }
    }//list-group
  }//.top-bg
  .bottom-bg {
    background-color: #060918;
    background-image: url('../img/blackout_homefront_cul-de-sac-mobile.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left -120px;
    min-height: 644px;
    h2 {
      margin-bottom: 310px;
    }
    @media (min-width:768px){
      min-height: 500px;
      background-image: url('../img/blackout_homefront_cul-de-sac.jpg');
      background-size: 100% auto;
      background-position: left top;
      h2 {
        margin-top: 60px;
        margin-bottom: 0;
      }
    }
    .list-group {
      margin-left: 30px;
      .list-group-item {
        background-color: rgba(0,0,0,0.0);
        border-color:  rgba(0,0,0,0.0);
        background-repeat: no-repeat;
        background-size: 32px auto;
        background-position: left 10px;
        padding-left: 60px;
        .list-group-item-text {
        }
        &.no-icon {
           padding-left: 15px;
        }
      }
      @media (min-width:768px){
        margin-left: 0;
      }
    }
    .text-muted {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }//.bottom-bg
  @media (min-width:1024px){
    background-color: #F6F6F6;
  }
}//#products

#what-to-expect {
  h2 {
    margin-bottom: 10px;
  }
  p {
    padding-right: 35px;
  }
}//what-to-expect

#guarantee {
  background-color: #F8F8F8;
}//#guarantee

#customer-stories {
  .quote {
    padding: 40px;
    .signature {
      font-size: 16px;
      line-height: 24px;
    }
  }
}//customer-stories

#form2 {
  background-color:#001A3C;
  color: #ffffff;
  .form-content {
      position: relative;
      text-align: center;
      width: 100%;
      padding-top: 100px;
      .form-content-inner {
          h1 {
              margin-bottom: 190px;
              margin-top: 40px;
              @media (min-width: 769px){
                font-size: 46px !important;
                margin-top: 0;
              }
          }
          p {
              font-weight: 300;
              font-size: 20px;
              margin-bottom: 50px;
          }
        .embed-responsive-16by9 {
          @media (max-width:768px){
            min-height: 740px;
            overflow-y: hidden;
          }
        }//embed-responsive-16by9
      }//.header-content-inner
      @media (min-width: 769px) {
        padding: 100px 15px 100px;
      }
  }//.header-content
  @media (min-width: 769px) {
      min-height: 100%;
      .form-content {
          padding: 60px 15px 20px;
          .form-content-inner {
              max-width: 1000px;
              margin-left: auto;
              margin-right: auto;

              p {
                  max-width: 80%;
                  margin-left: auto;
                  margin-right: auto;
              }
              .embed-responsive-16by9 {
                min-height: 600px;

              }
          }
      }
  }
}//#form2

footer {
  h3 {
    margin-top:10px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    max-width: 234px;
    &.legalese {
      font-size: 12px;
      line-height: 16px;
      max-width: none;
      padding-left: 15px;
    }
  }
  .seo-footer__states {
    color: #0073E0;
    border-style: solid;
    border-width: 1px 0;
    padding: 10px 15px;
    height: 40px;
  }
  .sr-footer {
    padding-top: 30px;
    font-family: "untitled_sans_regular",sans-serif;
    font-size: 15px;
    @media only screen and (min-width: 1025px) {
      border-top: 1px solid #0073E0;
      padding-bottom: 80px;
    }
    .nav-justified {
      > li {
        width: auto;
        a {
          padding: 10px 15px;
          &:hover {
          color: #01193F;
          background-color: rgba(255,255,255,0);
        }
      }
    }
    }
    .footer-social {
      font-size: 18px;
      margin: 0px;
      text-align: center;
      .social-icon {
        margin-right: 5px;
      }
      @media only screen and (min-width: 1025px){
        text-align: right;
        margin-left: 50px;
      }
    }
    .copyright {
      padding-left: 15px;
      p {
        font-size: 12px;
        line-height: 12px;
        font-family: "untitled_sans_light", sans-serif;
        max-width: none;
        padding:0;
        margin-bottom: 10px;
      }
      .list-inline {
        li {
          border-right: 1px solid #9D9FA1;
          padding-left: 2px;
          padding-right: 7px;
          height: 12px;
          &:last-of-type {
              border-color: rgba(255,255,255,0);
          }
          a {
            line-height: 12px;
            font-size: 12px;
            color: #9D9FA1;
            vertical-align: top;
          }
        }
      }
      @media only screen and (min-width: 1025px){
        text-align: right;
      }
    }
  }
  .logo-rule {
    background-image: linear-gradient(to right,transparent 15%,#0073E0 50%,transparent 85%);
    background-position: center center;
    background-repeat: no-repeat;
    height: 1px;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    .sunrun-glyph {
      display: inline-block;
      margin: -16px auto 0;
      max-width: 65px;
      max-height: 28px;
    }
    }
  padding-bottom: 100px;
  @media only screen and (min-width: 1025px){
    padding-bottom: 0px;
  }
}//footer

// Bootstrap Overrides
.text-primary {
    color: #000000;
}

.btn-cta {
  background: #00ADE6;
  color: white;
  &:hover {
    background: #5a9254;
    color: white;
  }
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-dark);
}

.btn {
    @include sans-serif-font;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 0;
    text-decoration: none;
    transition: background 0.2s ease-out;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

.container {
  @media (min-width: 1200px) {
    width: 1280px;
  }
}

.row {
  &.sides-15 {
    @media (min-width: 1200px) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
