<section id="customer-stories">
	<div class="container-fluid">
		<div class="row sides-15">
  		<div class="col-md-12 bg-dots more-padding">
    		<div class="outline-block clearfix" style="margin-top: 23px;">
      		<div class="col-md-5 no-padding"><img src="/img/customer-collage.jpg" alt="Customer Stories" class="img-responsive" width="100%"/></div> 
      		<div class="col-md-7 quote">
        		<h4>Customer Stories</h4>
        		<h2 class="headline">“[Our] utility still charges me $10 a month as a "connection fee", but the system has been covering all my homes needs thus far.”</h2>
        		<div class="signature bottom-50">— CBrown, Home Depot customer</div>
        		<p><a href="//www.sunrun.com/stories" title="" class="more">See More Customer Stories >></a>
      		</div>
    		</div>
  		</div>
		</div>
	</div>
</section>
