<section id="guarantee" class="more-padding">
    <div class="container-fluid">
      <div class="col-md-5 col-md-offset-1">
        <h4 class="bottom-25">The Sunrun Guarantee</h4>
        <p>Sunrun has you covered with an industry-leading, solar service package. By choosing Sunrun, you are going with the best solar company in the market today. We have helped over a quarter of a million households go solar. We look forward to bringing you energy control and independence.</p>
      </div>
      <div class="col-md-4 col-md-offset-2 center-mobile">
        <img src="/img/guarantee-seal.png" alt="The Sunrun Guarantee" class="left-text" width="258" height="258"/>
      </div>
    </div>
</section>
