<header>
	<div class="container">
  	<div class="row">
      <div class="header-content col-md-12">
          <div class="header-content-inner">
              <h1>Power&nbsp;Through Blackouts&nbsp;With Sunrun Solar&nbsp;and&nbsp;Brightbox Home&nbsp;Battery</h1>
              <p>The&nbsp;nation's&nbsp;leader&nbsp;in&nbsp;home solar&nbsp;and&nbsp;battery&nbsp;storage.</p>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://costcous.centah.com/iframe/?service_id=298" allowfullscreen></iframe>
              </div>
          </div>
      </div>
  	</div>
	</div>
	<div class="container-fluid" style="background-color: #102F52;">
  	<div class="row">
  		<div class="sunrun-stats-block stats-block-desktop row visible-md-block visible-lg-block">
  			<div class="col-md-3 sunrun-at-glance">
  				<p>
  					Sunrun is leading the charge to create a planet run by the sun. We are building a more sustainable world, through making solar simple for our customers.
  				</p>
  			</div>
  			<div class="col-md-3 stat-icon-block foam-finger">
  				<h4>
  					#1
  				</h4>
  				<p>
  					Home&nbsp;solar,&nbsp;storage and&nbsp;energy&nbsp;services company&nbsp;in&nbsp;the&nbsp;us*
  				</p>
  				<hr>
  			</div>
  			<div class="col-md-3 stat-icon-block people">
  				<h4>
  					255K<sup>+</sup>
  				</h4>
  				<p>
  					Sunrun customers
  				</p>
  				<hr>
  			</div>
  			<div class="col-md-3 stat-icon-block google-pin">
  				<h4>
  					200<sup>+</sup>
  				</h4>
  				<p>
  					Available&nbsp;in&nbsp;over
            600&nbsp;Home&nbsp;Depot&nbsp;stores
  				</p>
  			</div>
  		</div>

      <div id="sunrun-stats-block" class="sunrun-stats-block stats-block-mobile carousel slide visible-xs-block visible-sm-block" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators"><li data-target="#sunrun-stats-block" data-slide-to="0" class="active"></li>
      <li data-target="#sunrun-stats-block" data-slide-to="1"></li>
      <li data-target="sunrun-stats-block" data-slide-to="2"></li>
      <li data-target="sunrun-stats-block" data-slide-to="3"></li>
      </ol><div class="mission">
      <p>
      Sunrun is leading the charge to create a planet run by the sun. We are building a more sustainable world, through making solar simple for our customers.
      </p>
      </div>

      <div class="carousel-inner">
      <div class="item active">
      <img class="foam-finger" src="img/foam-finger.svg" alt="foam finger"><div class="carousel-caption">
      <h4>
      #1
      </h4>
      <p>
      Home&nbsp;solar,&nbsp;storage and&nbsp;energy&nbsp;services company&nbsp;in&nbsp;the&nbsp;us*
      </p>
      </div>
      </div>
      <div class="item">
      <img class="people" src="img/people.svg" alt="people"><div class="carousel-caption">
      <h4>
      255K<sup>+</sup></h4>
      <p>
      Sunrun customers
      </p>
      </div>
      </div>
      <div class="item">
      <img class="google-pin" src="img/google-pin-white.svg" alt="google pin"><div class="carousel-caption">
      <h4>
      22
      </h4>
      <p>
        States&nbsp;served
        DC&nbsp;+&nbsp;Puerto&nbsp;Rico
      </p>
      </div>
      </div>
      <div class="item">
      <img class="lightning" src="img/lightning.svg" alt="lightning"><div class="carousel-caption">
      <h4>
      1,760<sup>+</sup>
      </h4>
      <p>
      Megawatts deployed
      </p>
      </div>
      </div>
      </div>

      <a aria-label="previous" class="carousel-control left" href="#sunrun-stats-block" data-slide="prev">
      <i class="carousel-control-icon"></i>
      </a>
      <a aria-label="next" class="carousel-control right" href="#sunrun-stats-block" data-slide="next">
      <i class="carousel-control-icon"></i>
      </a>
      </div>

  	</div>
	</div>
</header>
