<section class="no-padding" id="solar-benefits">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 column-bg">
        <div class="col-md-4 col-md-offset-1 col-xs-12 col-sm-12">
          <p class="bottom-50 hidden-xs hidden-sm">&nbsp;</p>
          <img src="img/homedepot-cards.png" class="img-responsive" alt="Home Depot Credit Cards" />
          <h2>Get solar for your home, backed by The Home Depot.</h2>

          <p>Take control of your home’s energy with Sunrun solar and dedicated customer service just for Home Depot customers.</p>
          <p>If there's ever a problem, just call 800-466-3337 and the Home Depot team will make sure everything is taken care of.</p>
          <p>If you go solar with Sunrun this month, you will receive a $500 gift card from The Home Depot.</p>

          <p class="btn-block bottom-50"><a href="#page-top" class="btn btn-cta">Schedule a Consultation</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
