<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll  hidden-xs hidden-sm" href="#page-top"><img src="img/sunrun-logo.svg" alt="Sunrun Logo" height="40" /></a>
            <a class="navbar-brand page-scroll  hidden-lg hidden-md" href="#page-top"><img src="img/sunrun-blue-homedepot.png" alt="SunRun HomeDepot Logos" height="100%" /></a>
        </div>
        <div class="navbar-notice col-lg-9 col-md-9">
<!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li class="active">
                <a class="page-scroll" href="#page-top">Home</a>
              </li>
              <li>
                  <a class="page-scroll" href="#solar-benefits">Solar Benefits</a>
              </li>
              <li>
                  <a class="page-scroll" href="#products">Products</a>
              </li>
              <li>
                  <a class="page-scroll" href="#what-to-expect">What to Expect</a>
              </li>
              <li>
                  <a class="page-scroll" href="#guarantee">Guarantee</a>
              </li>
              <li>
                  <a class="page-scroll" href="#customer-stories">Customer Stories</a>
              </li>
          </ul>
      </div>
<!-- /.navbar-collapse -->              
        </div>
        <div class="navbar-right col-lg-1 hidden-xs hidden-sm">
          <a class="navbar-brand pull-right" href="#page-top"><img src="img/homedepot-logo.png" alt="HomeDepot Logo" height="53" /></a>
        </div>
    </div>
<!-- /.container-fluid -->
    <div class="container-fluid">
      
    </div>
<!-- /.container-fluid -->    
</nav>
