<section id="products" class="no-padding">
    <div class="container-fluid bottom-bg">
      <div class="row">
        <div class="col-sm-5 col-sm-push-6">
          <h2 class="text-white">Simple,&nbsp;Clean, and Safe&nbsp;Solar Power&nbsp;and Brightbox&nbsp;Battery Storage&nbsp;Service for Your&nbsp;Home<sup>*</sup></h2>
            <ul class="list-group bottom-50">
              <li class="list-group-item" style="background-image:url('img/residential-battery2.svg'); background-size: 41px auto;">
                <p class="list-group-item-text text-white">Stores excess solar energy which can be used to power select parts of your home during power outages</p>
              </li>
              <li class="list-group-item" style="background-image:url('img/money2.svg'); background-position-x: 5px;">
                <p class="list-group-item-text text-white">Save money by using stored solar power to offset peak energy rates</p>
              </li>
              <li class="list-group-item" style="background-image:url('img/handshake2.svg'); background-position-x: 5px;">
                <p class="list-group-item-text text-white">Every LG Chem battery comes with a 10-year warranty backed by LG</p>
              </li>
              <li class="list-group-item no-icon btn-block"><a href="#page-top" class="btn btn-cta">Schedule a Consultation >></a></li>                                                  
            </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid top-bg">
        <div class="row"> 
          <div class="col-md-4 col-md-offset-1">
              <p class="bottom-50 hidden-xs hidden-sm">&nbsp;</p>
              <h2>Go solar for $0 down with Sunrun and The Home Depot.</h2>
              <p>Want to go solar and pay nothing out of pocket? No problem. We offer a solar lease, which can start at $0 down. Want to buy and own your system? We can do that, too.</p>
              <p>Sunrun understands that everyone’s financial situation is different, so we give you a choice of payment options.</p>
              <p class="btn-block bottom-50"><a href="#page-top" class="btn btn-cta">Schedule a Consultation</a></p>
          </div>
          <div class="col-md-6 col-md-offset-1 hidden-xs hidden-sm right-text" style="padding-right: 0;">
            <img src="img/homefront-midwest-suburban-spring-afternoon-install-2.jpg" alt="Products Photo" width="100%" class="img-responsive" />
          </div>
        </div>
    </div>
    
<div class="fixed-cta visible-xs-block visible-sm-block visible-md-block">
<!--<a class="closer close-fixed-cta-processed" href="#" title="close"><span class="glyphicon glyphicon-remove" aria-hidden="true" aria-label="Close"></span></a>-->
	<div class="row">
    <div class="col-xs-12">
      <div class="btn-block mobile"><a href="#page-top" class="btn btn-cta">Schedule a Consultation >></a></div>
	</div>
</div>    
    
</section>
