<section class="" id="what-to-expect">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 no-padding text-center">
            <h2>What to Expect</h2>
            <p class="caption-block bottom-50">Sunrun will handle the complexity and heavy lifting, from designing a custom system for your home, to securing the necessary permits, completing a high-quality installation, arranging building inspections, and making sure your solar connection is squared away with your utility.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="/img/confirm-your-availability.png" alt="Confrirm your availablility" class="img-responsive text-center" />
            <h3>Confrirm your availablility</h3>
            <p>Enter your zip code to confirm availability in your area, then submit your contact information. A member of our team will call you to schedule a free in-home energy consultation.</p>
            <a href="" title=""class="more">Learn more >></a>
          </div>
          <div class="col-md-4">
            <img src="/img/in-home-consoltation.png" alt="In-home consultation" class="img-responsive text-center" />
            <h3>In-home consultation</h3>
            <p>At the scheduled time, our solar panel specialist will come to your home to discuss your needs and provide product options and pricing. All professionals entering your home undergo an intensive background check and wear a verified badge.</p>
            <a href="" title=""class="more">Learn more >></a>
          </div>
          <div class="col-md-4">
            <img src="/img/installation.png" alt="Installation" class="img-responsive text-center" />
            <h3>Installation</h3>
            <p>We will set up a convenient installation date based on your schedule. Our expert installer will provide all the materials and complete your installation.</p>
            <a href="" title=""class="more">Learn more >></a>
          </div>
        </div>
    </div>
</section>
